{% extends 'accounts/layout.html' %} {% load crispy_forms_tags %}{% block body%}
<div class="container w-50 p-3">
  <h1>Sign in to your account</h1>
  <form action="" method="post">
    {% csrf_token %} {{form|crispy}}
    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-primary btn-outline" type="submit">Login</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted"
      >Need An Account?
      <a class="ml-2" href="{% url 'sign-up' %}">Sign Up Now</a>
    </small>
  </div>
</div>
{% endblock %}
